* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

p {
   font-size: 20px; 
}

li { 
    font-size: 20px;
    list-style-position: inside;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile, .profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-description {
    font-size: 28px;
}

#title {
    font-weight: bold;
    font-size: 28px;
}

.description {
    max-width: 480px;
    margin-left: 160px;
    font-size: 20px;
}

a#links {
    font-weight: normal;
    font-size: 28px;
}

#sub-title {
    font-size: 26px;
}

#sub-sub-title {
    font-size: 22px;
}

.academics-experience {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px 0 64px 0;
}

.work-experience {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: outset;
    margin: 0 16px 0 16px;
    width: calc(100%/2);
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, .3);
    border-radius: 24px;
    overflow: hidden;
    padding: 16px;
}

.jobs {
    display: flex;
    justify-content: center;
    margin: 32px 0 64px 0;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin: 32px 0 64px 0;
}

.project-item {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.project-description {
    max-width: 500px;
    margin-right: 24px;
}

.project-description-left {
    max-width: 500px;
    margin-right: 24px;
    text-align: right;
}

.project-ad-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-ad-container:hover .overlay {
    opacity: 1;
}

img {
    display: block;
    width: 200px;
    height: 250px;
}

.skills-list {
    display: flex;
    justify-content: center;
    margin: 24px 0 64px 0;
}

#skill {
    margin: 0 24px 0 24px;
}











  .social-buttons a{
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
  }
  
  .social-buttons a::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover::before{
    transform: scale(0);
  }
  
  .social-buttons a i{
    transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover i{
    background: linear-gradient(45deg,#22a6b3,#30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
  }
  
